
.todo-container {
    margin-left: clamp(248px, 19%, 301px);
    margin-top: 15px;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    box-sizing: content-box;
}

.todo-head {
    display: flex;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #16697A;
    color: white;
}

#todos-label {
    display: block;
    margin-left: 20px;
    font-size: 50px;
}

.todo-create {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
    font-size: 60px;
    color: white;
}

.todo-list-container {
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px
}

[class^=todo-object-container-] {
    display: flex;
    height: 40px;
    margin: 10px;
    padding: 5px;
    color: #16697A;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.1s linear;
}

[class^=todo-object-container-]:hover {
    background-color: rgba(211, 211, 211, 0.215);
}

#todo-object-title {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    color: #16697A;
    font-weight: bold;
    text-decoration: none;
}

#nothing {
    text-align: center;
}

a #todo-object-title {
    display: inline-block;
    text-decoration: none;
}

input[type=checkbox] {
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
}

#plus {
    /* change this value to the desired width */
    --width: 40px;
    /* setting the background color */
    background-color: white;
    /* setting height and width with the value of css variable */
    width: var(--width);
    height: var(--width);
    /* perfect circle */
    border-radius: var(--width);
    /* centrering */
    display: grid;
    place-items: center;
    /* don't delete this, is important for the ::before and ::after pseudoelements */
    position: relative;
}

#plus::before,
#plus::after {
    content: "";
    /* using css calc() https://developer.mozilla.org/en-US/docs/Web/CSS/calc */
    /* height and width relative to css variable, change to what you feel is good */
    height: calc(var(--width) / 1.5);
    width: calc(var(--width) / 5);
    /* coloring the pseudoelements */
    background-color: #16697A;
    /* here the TRICK, using calc() we easily canculate the rotation, without hardcoding this value */
    transform: rotate(calc(var(--i) * 90deg));
    /* important don't delete */
    position: absolute;
}

#plus::before {
    --i: 1;
}

#plus::after {
    --i: 2;
}

#plus:hover {
    --width: 38px;
    background-color: rgb(211, 211, 211);
}


/* this should be global */
@media (max-width: 1180px) {
    
    .todo-container {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        padding: 10px 10px 0 10px;
        z-index: 1;
    }
    
    .menu-toggle {
        display: block;
        z-index: 100;
        transition: 0.2s ease;
    }

    .sidebar {
        position: fixed;
        left: -250px;
        max-width: 250px;
        z-index: 100;
        transition: 0.2s;
    }

    .menu-toggle.is-active {
        left: 260px;
        transition: 0.2s ease;
    }

    .sidebar.is-active {
        left: 0;
        box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.5);
        z-index: 30;
    }
}
