{% extends "base/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
  <link rel="stylesheet" href="{% static 'css/popup_form.css' %}">
  <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
  <div class="app">
    {% block sidebar %}
      {% include "main/sidebar.html" %}
    {% endblock sidebar %}
    <div class="main-container">
      <div class="main-head">
        <h1 id="main-label">Todos</h1>
        <div id="plus-container">
          <a id="plus" class="obj-create" onclick="createObj()"></a>
        </div>
        <div class="create-form-popup">
          <form method="post" class="form-container" id="todo-create-form">
            {% csrf_token %}
            <h1>Add Todo</h1>
            <label for="todo_title">
              <b>Task Title</b>
            </label>
            <input type="text" placeholder="Add a Title..." name="todo_title" required>
            <label for="todo_desc">
              <b>Task Description</b>
            </label>
            <input type="text" placeholder="Add a description..." name="todo_desc">
            <input type="submit" class="btn" value="Add">
            <button type="button" class="btn cancel-create">Close</button>
          </form>
        </div>
      </div>
      <div class="obj-list">
        {% if todos %}
          <div class="todo-list-container">
            {% for todo in todos %}
              <div class="todo-object-container-{{ todo.id }}">
                <a id="todo-object-title" href={% url 'task' todo.id %}>{{ todo.todo_title }}</a>
                <a onclick="showDropdown(this.id);" class="dropbtn" id="{{ todo.id }}">···</a>
                <div class="dropdown">
                  <div id="dropdown-{{ todo.id }}" class="dropdown-content">
                    <a class="todo-update-{{ todo.id }}" onclick="updateObj(this)">Edit</a>
                    <a data-url="{% url 'todo-delete' todo.id %}"
                       id="{{ todo.id }}"
                       onclick="deleteTodo(this)">Delete</a>
                    <a href="#">Set a Reminder</a>
                  </div>
                </div>
                <div class="update-form-popup-{{ todo.id }}">
                  <form data-url="{% url 'todo-update' todo.id %}"
                        method="post"
                        class="form-container"
                        id="todo-update-form-{{ todo.id }}">
                    {% csrf_token %}
                    <h1>Edit Todo</h1>
                    <label for="todo_title">
                      <b>Task Title</b>
                    </label>
                    <input type="text" value="{{ todo.todo_title }}" name="todo_title" required>
                    <label for="todo_desc">
                      <b>Task Description</b>
                    </label>
                    <input type="text" value="{{ todo.todo_desc }}" name="todo_desc">
                    <input type="submit" class="btn" value="Update">
                    <button type="button" class="btn cancel-{{ todo.id }}">Close</button>
                  </form>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="todo-list-container">
            <p id="nothing">Nothing to do.</p>
          </div>
        {% endif %}
      </div>
      <script>numPages = parseInt('{{ num_pages }}');</script>
      <div id="pagination" class="pagination-btn-container todo">
        <div class="pagination-btn">
          <button class="first-page-btn">
            <<
          </button>
          <button class="previous-page-btn">
            <
          </button>
          <h5 id="current-page">1</h5>
          <button class="next-page-btn">></button>
          <button class="last-page-btn">>></button>
        </div>
      </div>
    </div>
    <script type="text/javascript">var csrftoken = '{{csrf_token}}'</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/checkbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/create.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/update.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/delete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pagination.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/test.js' %}"></script>  TESTS -->
  </div>
{% endblock content %}
