{% extends "base/base.html" %}
{% load static %}
{% block content %}
  <a href={% url 'logout' %} style="float:right; margin-right: 30px;">Logout</a>
  <h1>Main Todo Page</h1>
  {% if todos %}
    {% comment %} <script type="text/javascript">
   function handleClick(chkbox) {
       if (chkbox.checked == true) {
           chkbox.value = "0"
       } else {
           chkbox.value = "1"
       }
   }
 </script> {% endcomment %}
    <script type="text/javascript">
      var csrftoken = '{{csrf_token}}'
    </script>
    {% for todo in todos %}
      <a href={% url 'todo-view' todo.id %}>
        <h3>{{ todo }}</h3>
      </a>
      <h4>{{ todo.todo_title }}</h4>
      <p>{{ todo.todo_desc }}</p>
      <p>{{ todo.date_created }}</p>
      {% if todo.todo_is_finished == True %}
        <input class="chkbox"
               id="{{ todo.id }}"
               type="checkbox"
               name="todo_is_finished"
               value="true"
               checked>
      {% else %}
        <input class="chkbox"
               id="{{ todo.id }}"
               type="checkbox"
               name="todo_is_finished"
               value="false">
      {% endif %}
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/checkbox.js' %}"></script>
  {% else %}
    <p>Nothing to do today.</p>
  {% endif %}
{% endblock content %}
