{% load static %}
{% block sidebar %}
  <div class="menu-toggle">
    <div class="hamburger">
      <span></span>
    </div>
  </div>
  <div class="sidebar">
    <nav class="menu">
      <div id="avatar-container">
        <img id="avatar"
             src="{{ user.profile.avatar.url }}"
             alt="Profile Image"
             height="90"
             width="90">
        <input type="file" id="uploader" accept=".jpg, .jpeg, .png, .webp">
        <div class="overlay">
          <a id="new_link" href="" class="icon">
            <span class="material-symbols-outlined">edit</span>
          </a>
        </div>
      </div>
      <div>
        <h3>{{ user.username }}</h3>
      </div>
      <a href={% url 'home' %} class="menu-item">Home</a>
      <a href={% url 'main' %} class="menu-item is-active">Todos</a>
      <a href={% url 'logout' %} class="menu-item logout">Logout</a>
    </nav>
  </div>
{% endblock sidebar %}
