{% extends "base/base.html" %}
{% load static %}
{% block content %}
  <a href={% url 'logout' %} style="float:right; margin-right: 30px;">Logout</a>
  <h1>Tasks Page</h1>
  <h3>{{ todo }}</h3>
  {% if tasks %}
    {% for task in tasks %}
      <h4>{{ task.task_title }}</h4>
      <p>{{ task.task_desc }}</p>
      {% if task.task_is_finished == True %}
        <input class="chkbox"
               id="{{ task.id }}"
               type="checkbox"
               name="task_is_finished"
               value="1"
               checked>
      {% else %}
        <input class="chkbox"
               id="{{ task.id }}"
               type="checkbox"
               name="task_is_finished"
               value="0">
      {% endif %}
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
      var csrftoken = '{{csrf_token}}'
    </script>
    <script type="text/javascript" src="{% static 'js/checkbox.js' %}"></script>
  {% else %}
    <p>You have no tasks.</p>
  {% endif %}
{% endblock content %}
